@using (Html.BeginForm())
{
    <div class="row justify-content-center">
        <label class="col-sm-1 col-form-label">Datum:</label>
        <div class="col-sm-2">
            @Html.TextBox("Date",DateTime.Now.ToString("dd'.'MM'.'yyyy"),"{0:d}", new {@placeholder = "Tag-Monat-Jahr", @class = "form-control datepicker"})
        </div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-success btn-sm">Bestätigen!</button>
        </div>
    </div>
}