<div class="row">
    <div class="col-3">
        <button id="soldMenus" class="btn btn-primary" style="padding: 6px 25px 6px 30px;">Verkaufte Menüs</button>
    </div>
    <div class="col-3">
        <button id="mostSoldMenus" class="btn btn-primary" style="padding: 6px 10px 6px 10px;">Heute verkaufte Menüs</button>
    </div>
</div>