@model MenuDTO
@{
    ViewData["Title"] = "Menü bearbeiten";
}

<h1>Menü bearbeiten:</h1>
<br />
<form asp-controller="menu" asp-action="EditMenu" method="post">
<partial name="_SaveMenuFormPartialView" model="@Model" />
</form>

@section Scripts{
    <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/bootstrap-datepicker.min.js"></script>

    <script>
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy'
        });

        $('#WhichMenu').change(function () {
            var whichMenu = $('#WhichMenu').val();
            $.ajax({
                url: '@Url.Action("_PricesPartialView","Menu")',
                dataType: 'html',
                type: 'GET',
                data: {
                    priceId: whichMenu
                },
                success: function (data) {
                    $('#prices').html(data).fadeIn();
                },
                error: function () {
                    alert('Error');
                }
            });

        });
    </script>
}