@using MensaAppKlassenBibliothek
@{
    ViewData["Title"] = "Alle Bestellungen";
}
@model List<MensaAppKlassenBibliothek.Menu>

<h1>Bestellungen</h1>
<br />
@using (Html.BeginForm())
{
    <div class="row justify-content-center">
        <label class="col-sm-1 col-form-label">Datum:</label>
        <div class="col-sm-2">
            @Html.TextBox("Date",DateTime.Now.ToString("dd'.'MM'.'yyyy"),"{0:d}", new {@id="date", @placeholder = "Tag-Monat-Jahr", @class = "form-control datepicker"})
        </div>
        <div class="col-sm-9">
            <button id="datePickerBtn" type="submit" class="btn btn-success btn-sm">Bestätigen!</button>
        </div>
    </div>
}
    <br />
    @if (Model != null && Model.Count() >= 1)
    {
    <div class="row">
        @foreach (Menu m in Model)
        {
            <div id="orders" class="col-md-4">
                <partial name="_ShowOrdersMenus" model="@m" />
            </div>
        }
    </div>
    }


    @section Scripts{
        <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/bootstrap-datepicker.min.js"></script>

        <script>
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy'
            });

        // TODO: Ajax gibt Error da wir kein Json übergebn deshalb wird View nicht ausgeführt (vermutlich)
        function reloadPage() {
            let date = document.getElementById("date").value;
            $.ajax({
                type: "POST",
                url: "@Url.Action("ShowAllOrders", "Order")",
                dataType: "html",
                data: { date: date },
                success: function(data){
                    $("data").fadeOut().html(data).fadeIn();
                }
            });
        }

        function reloadEveryTenSeconds() {
            setTimeout(function () {
                reloadPage();
                reloadEveryTenSeconds();
            }, 10000); 
        }

        reloadEveryTenSeconds();
    </script>
    }
    

