@using MensaAppKlassenBibliothek
@{
    ViewData["Title"] = "Alle Bestellungen";
}
@model List<MensaAppKlassenBibliothek.Menu>

<h1>Bestellungen</h1>
<br />

    <partial name="_DateTimePicker" />

    <br />
    <!--TODO: Nachsehen wie das mit Partial View funktioniert!!!!! wirft immer fehler wegen Controller Parameter-->
    @if (Model != null && Model.Count() >= 1)
    {
    <div class="row">
        <div class="card-deck mb-3 text-center">
        @foreach (Menu m in Model)
        {
            <div class="col-md-4">
                <partial name="_ShowOrdersMenus" model="@m" />
            </div>
        }
        </div>
    </div>
    }


    @section Scripts{
        <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/bootstrap-datepicker.min.js"></script>

        <script>
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy'
            });
        </script>
    }
    

