@using MensaAppKlassenBibliothek
@{
    ViewData["Title"] = "Alle Bestellungen";
}
@model List<MensaAppKlassenBibliothek.Menu>

<h1>Bestellungen</h1>
<br />
@using (Html.BeginForm())
{
    <div class="row justify-content-center">
        <label class="col-sm-1 col-form-label">Datum:</label>
        <div class="col-sm-2">
            @Html.TextBox("Date", DateOnly.FromDateTime(DateTime.Now),"{0:d}", new {@id="date", @placeholder = "Tag-Monat-Jahr", @class = "form-control datepicker"})
        </div>
        <div class="col-sm-9">
            <button id="datePickerBtn" type="submit" class="btn btn-success btn-sm">Bestätigen!</button>
        </div>
    </div>
}
    <br />
    @if (Model != null && Model.Count() >= 1)
    {
    <div id="orders" class="row">
            
                <partial name="_ShowOrdersMenus" model="@Model" />
    </div>
    <label id="lastRefresh"></label>
}


    @section Scripts{
        <link href="~/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/bootstrap-datepicker.min.js"></script>

        <script>
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy'
            });

        function reloadPage() {
            let date = $('#date').val();
            const d = new Date();
            let lastRefresh = d.toLocaleTimeString();
            document.getElementById("lastRefresh").innerHTML = "Zuletzt neu geladen um " + lastRefresh;
            $.ajax({
                type: "GET",
                url: "@Url.Action("_ShowOrdersMenus", "Order")",
                dataType: "html",
                data: { orderDate: date },
                success: function(data){
                    $("#orders").html(data).fadeIn();
                }
            });
        }

       function reloadEveryTenSeconds() {
            setTimeout(function () {
                reloadPage();
                reloadEveryTenSeconds();
            }, 10000); 
        }

        reloadEveryTenSeconds();
        
    </script>
    }
    

